div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    height: 100vh;
    width: 100%;
}

div a{
    
    text-decoration:none ;
    color: #f9faf8;
    font-weight: 1.2rem;
    font-weight: 600;
}