*{
  margin: 0;
  padding: 0;
}
@media (min-width: 0) {
    p{
     margin-bottom: 0;
   }
    img{
      width: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
 .projectsFlexBox{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-evenly;
 padding: 10px 12.5% 150px 12.5%;
 background-color: #1f2937;
 }
 .projectBox{
     display: flex;
     flex-direction: column;
     margin: 20px 10px;
     width: 300px;
     border-radius: 1rem;
     box-shadow: 0px 0px 20px 5px rgba(225, 225, 225, 0.2);
     background-color: #1f2937;
 }
 .projectBox a{
 text-decoration: none;
 width: 100%;
 }
 .projectImgBox{
 width: 100%;
 border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
 }
 .projectBox a p{
     color: #f9faf8;
     background-color: #1f2937;
     font-weight: 500;
     font-size: 1rem;
     padding: 10px 30px 10px 30px;
     border-bottom-left-radius: 1rem;
     border-bottom-right-radius: 1rem;
     text-align: center;
     line-height: 24px;
     }
     .currentPage{
       font-weight: 600;
     }   
     }
     @media (min-width: 767px) {
       .technologiesUsed{
         padding: 10px 0;
       }
     }
 @media (min-width: 1650px) {
     .projectsFlexBox{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-evenly;
         padding: 10px 20% 150px 20%;
         }
 }