body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.rockPaperScissors{
    display: flex;
    background-color: #3b3b3b;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
.gameNumbers{
    display: flex;
    flex-direction: column;
    color: #3b3b3b;
    font-weight: 600;
    background-color: #ebebebad;
    align-items: center;
    justify-content: space-around;
    top: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 5px 20px; 
}
.gameStats{
    display: flex;
    font-size: 18px;
}
.gameStats div{
    margin:  25px 15px ;
    display: flex;
    padding: 5px 10px;
    border-radius: 0.5rem;
    align-items: center;

}
#winsN{
    background-color: #00ff00;
}
#drawsN{
    background-color: #e4f000;
}
#losesN{
    background-color: #ff0000;
}
#results{
text-align: center;
margin: 50px 0 20px 0;
font-size: 28px;
font-weight: 600;
color: #ececec;
width: 60%;
}
.gameStats div.roundNumber{
    text-align: center;
    font-size: 20px;
    background-color: #3b3b3b;
    padding: 10px 15px;
    color: #ececec;
    
}
#title{
    text-align: center;
    margin:40px 0 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: #ececec;
}
.redText{
color: #ff0000;
}
.greenText{
    color: #00ff00;
}
.yellowText{
    color: #e4f000;
}
h4{
    margin: 0;
}
.playersSelections{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ececec;
    width: 100%;
    margin: 50px 0 20px 0;
    font-size: 22px;
}
.playersSelections div{
display: flex;
align-items: center;
margin: 2px;
}
.textMarginLeft{
    margin-left: 5px;
}
.textMarginRight{
    margin-right: 5px;
}
.buttonsFlex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.buttonsFlex button{
    color: #3b3b3b;
    background-color: white;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 22px;
    border: 1px #ececec solid;
    border-radius: 0.5rem;
    width: 130px;
    font-weight: 600;
}
.buttonsFlex button:hover{
     background-color: #3b3b3b;
   color: white;
    cursor: pointer;
}
#rounds{
    padding: 10px;
    width: 60%;
    background-color: #505050ad;
    border-radius: 1rem;
    display: none;
}
#rounds h4{
    text-align: center;
    color: #ececec;
    font-size: 18px;
}
#roundsList li{
    margin: 5px;
    font-size: 18px;
    /* width: 80%; */
}
#clearButton{
    display: none;
    color: #3b3b3b;
    background-color: white;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 18px;
    text-align: center;
    border: 1px #ececec solid;
    border-radius: 0.5rem;
    width: 200px;
    font-weight: 600;
    cursor: pointer;
}
#clearButton:hover{
    background-color: #3b3b3b;
   color: white;
}